@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville);

.substep {
    opacity: 0;
}

.substep.substep-visible {
    opacity: 1;
    transition: opacity 1s;
}

body {
    font-size: 28pt;
    text-align: center;
    font-family: Libre Baskerville;
}

.step{
    width: 1200px;
}

.small{
    font-size: 12pt
}

.center p{
    text-align: center;
}

p {
    font-weight: normal;
    margin-bottom: 0.3em;
    margin-top: 0.3em;
    text-align: left;
}

pre {
    text-align: left;
}

h1, h2, h3, h4 {
    font-weight: normal;
    margin-bottom: 0.3em;
    margin-top: 0.3em;
}


tt {
    font-size: 125;
}

ul {
    list-style-position: inside;
}

li {
    font-family: serif;
    font-weight: normal;
    margin-bottom: 0.1em;
    margin-top: 0.1em;
    padding-left: 0.3em;
    line-height: 1.2em;
    text-align: left;
}

a {
    text-decoration: none;
    color: blue;
}

.hidden {
    display: none;
}

.header img {
    opacity: 0.5;
    width: 25%;
    position: absolute;
    left: 0;
}

.footer {
    position: absolute;
    top: 95%;
    font-size: 50%;
}
